body{
    margin: 0;
    padding: 0;
    width: 80%;
   margin: auto;
    
}
.container{
     display: grid;
     height: 90vh;
     width: 100vw;
     grid-template-columns: 40% 60%;
     grid-gap: 50px; 
    column-gap:0px;
}
.content{
    display: grid;
    grid-template-columns: 30% 70%;
    
    
}

.child1{
    margin: 30px;
    padding: 50px;
    width: 400px;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(300deg, violet, blue );
    color: white;
    font-size: 25px;
   
}
.child2{  
    padding: 50px;
   
    font-size: 25px;
}
.sNo:hover{
    background-color: white;
    color: black;
    
}


form{
    font-size: 25px;
    color:darkblue
   
}
input{
    width: 100px;

}
h1{
    color: darkblue;
}
form input{
    border: none;
    border-bottom: 1px solid black;
    border-left: 1px solid black;
}
form ::placeholder{
    font-size: 20px;
}
p{
   font-size: 30px; 
}

